@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@supports (animation-timeline: scroll()) {
    @media (prefers-reduced-motion: no-preference) {
        .scroll-appear {
            animation: appear linear forwards;
            animation-timeline: scroll(nearest);
            animation-range: 0 6rem;
        }
    }
}
